[run]
source = app,src
omit = 
    */tests/*
    */venv/*
    */.venv/*
    */migrations/*
    */node_modules/*
    */static/*
    app/__init__.py
    src/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError

[html]
directory = coverage_html_report
