# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Data files
data/geo/*.tif
data/geo/*.tif.aux.xml
data/geo/temp_dem_chunks/
data/geo/*_status.json
data/geo/metadata/
data/raw/*
data/processed/*
data/test/*
data/test_geo/*
!data/geo/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/test/.gitkeep

# Flask
instance/
.webassets-cache
app/static/dem/*.tif

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# Coverage reports
.coverage
htmlcov/
coverage_html_report/

# OS specific
.DS_Store
Thumbs.db
